@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #141414;
  font-family: "Silkscreen", serif;
}

/* -- start popup section -- */

.startSection {
  #start-popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  .start-popup-content {
    height: 100vh;
    width: 100%;
    font-size: 13px;
    padding: 20px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
    #game-name {
      font-size: 40px;
      color: #bbbbbbf4;
    }
    #attempt-condition {
      color: #960c0ced;
      font-size: 12px;
    }
    #startBtn {
      height: 8vh;
      width: 17vh;
      background-color: #0e459d;
      border-radius: 200px 200px 150px 300px;
      border: 3px solid #073278;
      color: #d2d2d2;
      font-family: "Silkscreen", serif;
      letter-spacing: -1px;
      font-size: 15px;
    }
    #closebtn:hover {
      transition: 0.5s;
    }
  }
}

/* -- start header section -- */

header {
  padding: 2vh;
  .headSection {
    height: 23vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40vh;
    background-color: #0e459d;
    border-radius: 150px 150px 300px 200px;
    border: 3px solid #073278;
    #logoArea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4vh;
      #logo {
        height: 10vh;
        padding: 15px;
        background-color: #141414;
        border-radius: 20px;
        border: 3px solid #073278;
      }
      #playerScoreBoard,
      #robotScoreBoard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 5vh;
        font-size: 25px;
        color: #f9faf8;
        font-weight: 900;
      }
    }
    .resultArea {
      height: 8vh;
      width: 25vh;
      background-color: #141414;
      border-radius: 300px 150px 300px 200px;
      border: 3px solid #073278;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d2d2d2;
      letter-spacing: -1px;
    }
  }
}

/* -- start main section -- */

main {
  height: 48vh;
  display: flex;
  padding: 0 60vh;
  justify-content: space-around;
  align-items: center;
  #playGround {
    height: 20vh;
    width: 20vh;
    img {
      height: 18vh;
    }
  }
  .vsSection {
    img {
      height: 7vh;
    }
  }
}

/* strat btn section */

.buttonSectionArea {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .buttonSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vh;
    border-radius: 30px;
    button {
      background: none;
      border: none;
    }
    #btnImage {
      height: 11vh;
      padding: 20px;
      background-color: #000;
      border: 2px solid #0e459d;
      border-radius: 30px;
    }
    #btnImage:hover {
      padding: 16px;
      border: 2px solid #1289d2;
      transition: 0.4s;
    }
  }
}

/* strat footer section */

footer {
  height: 9vh;

  display: flex;
  align-items: center;
  color: #989898;
  font-size: 10px;
  padding: 0 4vh;
}

/* -- start final result popup section -- */

.resultSection {
  #popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;

    align-items: center;
    position: fixed;
    opacity: 0; /* Start invisible */
    transition: opacity 0.9s ease-in-out;
  }
  .popup-content {
    height: 100vh;
    width: 100%;

    font-size: 13px;
    padding: 20px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    #finalResult {
      text-align: center;
      font-weight: 600;
      font-size: 35px;
    }
    #finalResult-playerScore,
    #finalResult-robotScore {
      font-size: 15px;
      color: #b5b5b5;
    }
    #closeBtn {
      height: 7vh;
      width: 15vh;
      background-color: #0e459d;
      border-radius: 300px 150px 300px 200px;
      border: 3px solid #073278;
      color: #d2d2d2;
      font-family: "Silkscreen", serif;
      letter-spacing: -1px;
    }
    #closebtn:hover {
      transition: 0.5s;
    }
  }
}
